body {
    font-family: Arial, Helvetica, sans-serif;
    min-height: 100vh;
    background: #242526;
    overflow: hidden;
}

.game-board {
    position: absolute;
    display: grid;
    grid-template-columns: repeat(4, 160px);
    gap: 10px;
    top: 50%;
    left:  50%;
    width: 671px;
    height: 639px;
    transform: translate(-50%, -50%);
    border: 3px solid black;
    
}

.box {
    position: relative;
    height: 150px;
    width: 160px;
    border: 1px solid black;
    overflow: hidden;
    background-color: #191919;
    pointer-events: none;
}


.pipe {
    position: absolute;
    bottom: -20px;
    left: -20px;
    width: 210px;
    object-fit: cover;
    z-index: 1;
    pointer-events: none;
}

.clown {
    position: absolute;
    top: 155px;
    left: 0;
    width: 155px;
    object-fit: contain;
    z-index: 0;
    cursor: pointer;
}

.scoretable {
    font-size: 1.5rem;
    padding: 0.5rem 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    color: red;
    position: absolute;
    left: 5%;
    top: 5%;
    transform: translate(-5%, -5%);
    border: 2px solid red;
}

.modal {
    color: red;
    cursor: default;
    position: absolute;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background: #191919;
    pointer-events: all;
    z-index: 1000;
}

.modal button {
    padding: 1rem 2rem;
    background: none;
    border: 1px solid red;
    color: red;
    font-size: 1.2rem;
    cursor: pointer;
    transition: 0.5s ease;
    font-family: Arial, Helvetica, sans-serif;
}

.modal button:hover {
    background: rgba(255, 255, 255, 0.6);
    color: red;
}

.modal h1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem;
}

.modal h2 {
    visibility: hidden;
}

.highscore {
    margin-left: 10px;
    animation: scorebump 0.5s infinite alternate;
}

.display {
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.modalclose {
    opacity: 0;
    pointer-events: none;
}

@keyframes scorebump {
    from {
        transform: translateY(10px);
    }
    to {
        transform: translateY(-10px);
    }
}

@keyframes faceup {
    from {
        transform: translateY(140px);
    }
    to {
        transform: translateY(-180px);
    }
}

@keyframes facedown {
    from {
        transform: translateY(-180px);
    }
    to {
        transform: translateY(140px);
    }
}
