body {
    font-family: Arial, Helvetica, sans-serif;
    min-height: 100vh;
    background: #242526;
    overflow: hidden;
}

.paperboat {
    height: 300px;
    width: 300px;
    position: fixed;
    top: 450px;
    right: 1200px;
}

.balloon {
    height: 500px;
    width: 500px;
    position: fixed;
    bottom: 450px;
    left: 1200px;
}

.sign {
    height: 500px;
    width: 300px;
    position: fixed;
    top: 300px;
    left: 1200px;
}

.instructions {
    color: white;
    text-align: center;
    padding-bottom: 50px;
}

.instructions a {
    color: red;
}

.points {
    text-align: center;
    color: white;
    border: 3px solid red;
}

.game-board {
    position: absolute;
    display: grid;
    grid-template-columns: repeat(4, 160px);
    gap: 10px;
    top: 50%;
    left:  50%;
    width: 671px;
    height: 639px;
    transform: translate(-50%, -50%);
    border: 3px solid black;

    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    
}

.box {
    position: relative;
    height: 150px;
    width: 160px;
    border: 1px solid black;
    overflow: hidden;
    background-color: #191919;
    pointer-events: none;
}


.pipe {
    position: absolute;
    bottom: -20px;
    left: -20px;
    width: 210px;
    object-fit: cover;
    z-index: 1;
    pointer-events: none;
}

.clown {
    position: absolute;
    top: 155px;
    left: 0;
    width: 155px;
    object-fit: contain;
    z-index: 0;
    cursor: pointer;

    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.scoretable {
    font-size: 1.5rem;
    padding: 0.5rem 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    color: white;
    position: absolute;
    left: 5%;
    top: 5%;
    transform: translate(-5%, -5%);
    border: 5px solid red;
}

.modal {
    color: red;
    cursor: default;
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background: #191919;
    pointer-events: all;
    z-index: 999;
}

.modal button {
    padding: 1rem 2rem;
    background: none;
    border: 3px solid red;
    color: red;
    font-size: 1.2rem;
    cursor: pointer;
    transition: 0.5s ease;
    font-family: Arial, Helvetica, sans-serif;
}

.modal button:hover {
    background: white;
    color: red;
}

.modal h1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.modal h2 {
    visibility: hidden;
}

.hs {
    font-size: 1.5rem;
}

.highscore {
    margin-left: 10px;
    animation: scorebump 0.5s infinite alternate;

}

.display {
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 50px;
}

.modalclose {
    opacity: 0;
    pointer-events: none;
}

.modal2 {
    justify-content: center;
    display: none;
    background: black;
    z-index: 1000;
    height: 100%;
    width: 100%;
    position: absolute;
    color: white;
}

.modal2.reveal {
    display: block;
}


.flash {
    background-color: rgb(62, 56, 56);
}

@keyframes scorebump {
    from {
        transform: translateY(10px);
    }
    to {
        transform: translateY(-10px);
    }
}

@keyframes faceup {
    from {
        transform: translateY(140px);
    }
    to {
        transform: translateY(-180px);
    }
}

@keyframes facedown {
    from {
        transform: translateY(-180px);
    }
    to {
        transform: translateY(140px);
    }
}
