body {
    font-family: Arial, Helvetica, sans-serif;
    min-height: 100vh;
}

.game-board {
    position: absolute;
    display: grid;
    grid-template-columns: repeat(4, 160px);
    gap: 10px;
    top: 50%;
    left:  50%;
    width: 671px;
    height: 639px;
    transform: translate(-50%, -50%);
    border: 1px solid red;
}

.box {
    position: relative;
    height: 150px;
    width: 160px;
    border: 1px solid red;
overflow: hidden;
}

.pipe {
    position: absolute;
    bottom: -20px;
    left: -20px;
    width: 210px;
    object-fit: cover;


}